.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dish {
  display: list-item;
  font-size: 18px;
  margin-left: 20px;
}

@media screen and (max-device-width: 1440px) {
    .menu {
      flex-direction: column;
    }
}
